<div class="body row">
    <div class="left-body col-2">

        <div class="mx-4 mt-4">
            <label for="categorie">Categories</label>
        </div>

        <div class="mx-2 my-0">
            <ul class="categ-list col-12">
                <li>
                    <input type="checkbox" id="categ-check">
                    <label for="name1">#Categorie 1</label>
                </li>
                <li>
                    <input type="checkbox" id="categ-check">
                    <label for="name2">#Categorie 2</label><br>
                </li>
                <li>
                    <input type="checkbox" id="categ-check">
                    <label for="name3"> #Categorie 3</label><br>
                </li>
                <li>
                    <input type="checkbox" id="categ-check">
                    <label for="name4"> #Categorie 4</label><br>
                </li>

            </ul>
        </div>



        <div class="mx-4">
            <input type="checkbox">
            <label for="sub"> Subscribed</label>
        </div>

        <div class="mx-2 my-2">
            <input type="text" placeholder="Created by...">
        </div>

    </div>

    <div class="right-body col-10">
        <div class="upper-body row">
            <div class="upper-body-dom col-12 row">
                <div class="col-6 text-right">
                    <label for="categ-h1" class="m-3 px-4">Categories</label>
                </div>
                <div class="col-6">
                    <button class="my-5"> + Request New Categorie</button>
                </div>
                <select name="choose-by" class="choose-by mx-4">
                    <option value="all">All</option>
                    <option value="posts">By posts</option>
                    <option value="alpha">alphabetically</option>
                </select>
            </div>
        </div>

        <div class="main-body row px-4 text-center">
            <ul class="row">
                <a href="posts.html">
                    <li>
                        <div>
                            <label for="">Categorie: name1</label><br>
                            <label for=""> Created by: name1</label><br>
                            <label for="">Posts: 100</label><br>

                            <label for="">Subscribed: 100</label>
                        </div>
                    </li>
                </a>

                <a href="posts.html">
                    <li>
                        <div>
                            <label for="">Categorie: name1</label><br>
                            <label for=""> Created by: name1</label><br>
                            <label for="">Posts: 100</label><br>

                            <label for="">Subscribed: 100</label>
                        </div>
                    </li>
                </a>

                <a href="posts.html">
                    <li>
                        <div>
                            <label for="">Categorie: name1</label><br>
                            <label for=""> Created by: name1</label><br>
                            <label for="">Posts: 100</label><br>

                            <label for="">Subscribed: 100</label>
                        </div>
                    </li>
                </a>

                <a href="posts.html">
                    <li>
                        <div>
                            <label for="">Categorie: name1</label><br>
                            <label for=""> Created by: name1</label><br>
                            <label for="">Posts: 100</label><br>

                            <label for="">Subscribed: 100</label>
                        </div>
                    </li>
                </a>

                <a href="posts.html">
                    <li>
                        <div>
                            <label for="">Categorie: name1</label><br>
                            <label for=""> Created by: name1</label><br>
                            <label for="">Posts: 100</label><br>

                            <label for="">Subscribed: 100</label>
                        </div>
                    </li>
                </a>

                <a href="posts.html">
                    <li>
                        <div>
                            <label for="">Categorie: name1</label><br>
                            <label for=""> Created by: name1</label><br>
                            <label for="">Posts: 100</label><br>

                            <label for="">Subscribed: 100</label>
                        </div>
                    </li>
                </a>

                <a href="posts.html">
                    <li>
                        <div>
                            <label for="">Categorie: name1</label><br>
                            <label for=""> Created by: name1</label><br>
                            <label for="">Posts: 100</label><br>

                            <label for="">Subscribed: 100</label>
                        </div>
                    </li>
                </a>

                <a href="posts.html">
                    <li>
                        <div>
                            <label for="">Categorie: name1</label><br>
                            <label for=""> Created by: name1</label><br>
                            <label for="">Posts: 100</label><br>

                            <label for="">Subscribed: 100</label>
                        </div>
                    </li>
                </a>
            </ul>

        </div>
    </div>
</div>