<div class="categorie-name">
    <h1>Example1</h1>
</div>

<div class="the_body">
    <!-- Categorie information -->
    <div class="categorie-info">
        <div class="ci_box">
            <table>
                <tr>
                    <th>Categorie:</th>
                    <th>Example1</th>
                </tr>
                <tr>
                    <th>Posts:</th>
                    <th>12</th>
                </tr>
                <tr>
                    <th>Created by:</th>
                    <th>Name1</th>
                </tr>
                <tr>
                    <th>Subscribed:</th>
                    <th>10</th>
                </tr>
            </table>
            <br>
            <p><strong>More information: </strong> </p>
            <br>

            <p>
                jas dlgasdk lgnaslk jcviowja eojasd
                sdklg jasd
                asdgj klsdaga
                asd fkas jfl jasfa djlfa
                gja dkl sg
            </p>

        </div>

        <div class="ci_btn">
            <button> Subscribe </button>
        </div>
    </div>

    <!-- post area -->
    <div class="posts_box">
        <!-- create posts -->
        <div class="create_posts">
            <textarea id="c_posts" class="txtArea" name="c_posts" rows="4" cols="50"
                placeholder="Write your post..."></textarea>
            <button class="txtAreaBtn"> Create Post</button>
        </div>

        <!-- the posts -->
        <div class="posts">
            <div>
                <label for="name">Posted by name1</label>
                <br>
                <br>
                <p>alks sdafjasd agaljgasj aj ajfas f asjdf a ja ja jfka j a fas fnas </p>
                <br>
                <label for="likes">Likes:191 Comments:73</label>
            </div>

            <div>
                <label for="name">Posted by name1</label>
                <br>
                <br>
                <p>alks sdafjasd agaljgasj aj ajfas f asjdf a ja ja jfka j a fas fnas </p>
                <br>
                <label for="likes">Likes:191 Comments:73</label>
            </div>

            <div>
                <label for="name">Posted by name1</label>
                <br>
                <br>
                <p>alks sdafjasd agaljgasj aj ajfas f asjdf a ja ja jfka j a fas fnas </p>
                <br>
                <label for="likes">Likes:191 Comments:73</label>
            </div>

            <div>
                <label for="name">Posted by name1</label>
                <br>
                <br>
                <p>alks sdafjasd agaljgasj aj ajfas f asjdf a ja ja jfka j a fas fnas </p>
                <br>
                <label for="likes">Likes:191 Comments:73</label>
            </div>

            <div>
                <label for="name">Posted by name1</label>
                <br>
                <br>
                <p>Alks sdafjasd agaljgasj aj ajfas f asjdf a ja ja jfka j a fas fnas
                    alks sdafjasd agaljgasj aj ajfas f asjdf a ja ja jfka j a fas fnas
                    alks sdafjasd agaljgasj aj ajfas f asjdf a ja ja jfka j a fas fnas
                    alks sdafjasd agaljgasj aj ajfas f asjdf a ja ja jfka j a fas fnas
                    alks sdafjasd agaljgasj aj ajfas f asjdf a ja

                    alks sdafjasd agaljgasj aj ajfas f asjdf a ja ja jfka j a fas fnasalks sdafjasd agaljgasj aj ajfas f
                    asjdf a ja ja jfka j a fas fnas
                    alks sdafjasd agaljgasj aj ajfas f asjdf a ja ja jfka j a fas fnas
                    alks sdafjasd agaljgasj aj ajfas f asjdf a ja ja jfka j a fas fnas

                    aflsdjakfdjaljdflakjdlasjg
                </p>
                <br>
                <label for="likes">Likes:191 Comments:73</label>
            </div>

            <div>
                <label for="name">Posted by name1</label>
                <br>
                <br>
                <p>alks sdafjasd agaljgasj aj ajfas f asjdf a ja ja jfka j a fas fnas </p>
                <br>
                <label for="likes">Likes:191 Comments:73</label>
            </div>

        </div>
    </div>

</div>