<div class="container mt-5">
    <section id="trending-posts" class="trending-posts mb-5">
        <h5 class="trending-title">Trending Posts</h5>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="posts.html">
                        <div class="card" style="width: 20rem;">
                            <label for="name" class="labelName"><span><i
                                        class="far fa-user-circle m-1"></i>vasilis</span> <span># Testing the
                                    site</span></label>
                            <br>

                            <p>This is a test-paragraph.</p>
                            <br>
                            <label for="likes" class="likesNumber0">Likes: 1 Comments: 0</label>

                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="posts.html">
                        <div class="card" style="width: 20rem;">
                            <label for="name" class="labelName">Posted by vasilis <span># Testing the
                                    site</span></label>
                            <br>

                            <p>This is a test-paragraph.</p>
                            <br>
                            <label for="likes" class="likesNumber0">Likes:1 Comments:0</label>

                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="posts.html">
                        <div class="card" style="width: 20rem;">
                            <label for="name" class="labelName">Posted by vasilis <span># Testing the
                                    site</span></label>
                            <br>

                            <p>This is a test-paragraph.</p>
                            <br>
                            <label for="likes" class="likesNumber0">Likes:1 Comments:0</label>

                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="posts.html">
                        <div class="card" style="width: 20rem;">
                            <label for="name" class="labelName">Posted by vasilis <span># Testing the
                                    site</span></label>
                            <br>

                            <p>This is a test-paragraph.</p>
                            <br>
                            <label for="likes" class="likesNumber0">Likes:1 Comments:0</label>

                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="posts.html">
                        <div class="card" style="width: 20rem;">
                            <label for="name" class="labelName">Posted by vasilis <span># Testing the
                                    site</span></label>
                            <br>

                            <p>This is a test-paragraph.</p>
                            <br>
                            <label for="likes" class="likesNumber0">Likes:1 Comments:0</label>

                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="posts.html">
                        <div class="card" style="width: 20rem;">
                            <label for="name" class="labelName">Posted by vasilis <span># Testing the
                                    site</span></label>
                            <br>

                            <p>This is a test-paragraph.</p>
                            <br>
                            <label for="likes" class="likesNumber0">Likes:1 Comments:0</label>

                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="posts.html">
                        <div class="card" style="width: 20rem;">
                            <label for="name" class="labelName">Posted by vasilis <span># Testing the
                                    site</span></label>
                            <br>

                            <p>This is a test-paragraph.</p>
                            <br>
                            <label for="likes" class="likesNumber0">Likes:1 Comments:0</label>

                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="posts.html">
                        <div class="card" style="width: 20rem;">
                            <label for="name" class="labelName">Posted by vasilis <span># Testing the
                                    site</span></label>
                            <br>

                            <p>This is a test-paragraph.</p>
                            <br>
                            <label for="likes" class="likesNumber0">Likes:1 Comments:0</label>

                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="posts.html">
                        <div class="card" style="width: 20rem;">
                            <label for="name" class="labelName">Posted by vasilis <span># Testing the
                                    site</span></label>
                            <br>

                            <p>This is a test-paragraph.</p>
                            <br>
                            <label for="likes" class="likesNumber0">Likes:1 Comments:0</label>

                        </div>
                    </a>
                </div>
            </div>


            <!-- Add Pagination -->
            <!-- <div class="swiper-pagination"></div> -->
            <!-- Add Arrows -->
            <div class="swiper-button-next " style="color: black;"></div>
            <div class="swiper-button-prev " style="color: black;"></div>
        </div>
    </section>

    <section id="top-posts" class="mt-5 pt-5">
        <h5 class="trending-title ml-2">Top Posts</h5>
        <div class="row p-2">
            <div class="col-12 col-md-8">
                <div class="card mb-2">
                    <div class="card-header">
                        Posted by vasilis <span>#Testing the site</span>
                    </div>
                    <div class="card-body">
                        <br>
                        <p>This is a test-paragraph.</p>
                        <br>
                        <label for="likes" class="likesNumber0">Likes:1 Comments:0</label>

                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        Posted by vasilis <span>#Testing the site</span>
                    </div>
                    <div class="card-body">
                        <br>
                        <p>This is a test-paragraph.</p>
                        <br>
                        <label for="likes" class="likesNumber0">Likes:1 Comments:0</label>

                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        Posted by vasilis <span>#Testing the site</span>
                    </div>
                    <div class="card-body">
                        <br>
                        <p>This is a test-paragraph.</p>
                        <br>
                        <label for="likes" class="likesNumber0">Likes:1 Comments:0</label>

                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        Posted by vasilis <span>#Testing the site</span>
                    </div>
                    <div class="card-body">
                        <br>
                        <p>This is a test-paragraph.</p>
                        <br>
                        <label for="likes" class="likesNumber0">Likes:1 Comments:0</label>

                    </div>
                </div>
            </div>
            <div class="all-categories col-0 col-md-4 b-1">
                <a href="categories.html">
                    <h6 class="top-categories">Top categories</h6>
                    <div class="category-list">
                        <ul class="list-group">

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                #Category 1
                                <span class="badge badge-dark badge-pill">38</span>
                            </li>


                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                #Category 2
                                <span class="badge badge-dark badge-pill">29 </span>
                            </li>


                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                #Category 3
                                <span class="badge badge-dark badge-pill">14 </span>
                            </li>


                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                #Category 4
                                <span class="badge badge-dark badge-pill">2 </span>
                            </li>


                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                #Category 5
                                <span class="badge badge-dark badge-pill">1 </span>
                            </li>

                        </ul>
                    </div>
                </a>
            </div>
        </div>

    </section>
</div>