<!--Login - SignUp File-->

{{#if displayError}}
<p class="text-center mt-5" style="color:red;font-size:large;">Invalid Credentials!</p>
{{/if}}
<!--LOGIN/SIGNUP FORM-->
<section class="login-signup">

    <div class="wrapper">

        <div class="title-text">

            <div class="title login">

                Login Form</div>

            <div class="title signup">

                Signup Form</div>

        </div>

        <div class="form-container">

            <div class="slide-controls">

                <input type="radio" name="slide" id="login" checked>

                <input type="radio" name="slide" id="signup">

                <label for="login" class="slide login">Login</label>

                <label for="signup" class="slide signup">Signup</label>

                <div class="slider-tab">

                </div>

            </div>

            <div class="form-inner">

                <form action="/login" method="POST" class="login">

                    <div class="field">

                        <input type="text" placeholder="Username" id="inputUsername" name="username" required>

                    </div>

                    <div class="field">

                        <input type="password" placeholder="Password" id="inputPassword" name="password" required>

                    </div>

                    <div class="pass-link">

                        <a href="#">Forgot password?</a>

                    </div>

                    <div class="field btn">

                        <div class="btn-layer">

                        </div>

                        <input type="submit" value="Login">

                    </div>

                    <div class="signup-link">

                        Not a member? <a href="">Signup now</a></div>

                </form>

                <form action="#" class="signup">

                    <div class="field">

                        <input type="text" placeholder="Email Address" required>

                    </div>

                    <div class="field">

                        <input type="text" placeholder="Username" required>

                    </div>

                    <div class="field">

                        <input type="password" placeholder="Password" required>

                    </div>

                    <div class="field">

                        <input type="password" placeholder="Confirm password" required>

                    </div>



                    <div class="field btn">

                        <div class="btn-layer">

                        </div>

                        <input type="submit" value="Signup">

                    </div>

                </form>

            </div>

        </div>

    </div>

</section>

<script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    const signupLink = document.querySelector("form .signup-link a");
    signupBtn.onclick = (() =>
    {
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
    });
    loginBtn.onclick = (() =>
    {
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
    });
    signupLink.onclick = (() =>
    {
        signupBtn.click();
        return false;
    });
</script>
<!--
    <section class="login-signup">

        <div class="box">

            <h2>Login</h2>

            <form>

                <div class="inputBox">

                    <input type="text" name="login-name" required="">

                    <label>Username</label>

                </div>

                <div class="inputBox">

                    <input type="password" name="login-password" required="">

                    <label>Password</label>

                </div>

                <input type="submit" name="login-submit" value="Submit">

            </form>

        </div>

    </section>-->